.container{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

button{
    border: none;
    background: gray;
    color: #FFF;
    padding: 5px 10px;
    cursor: pointer
}